/* shared style */
* {
    font-family: sans-serif;
    margin: 0;
}
/* intro sectoin  */
.intro {
    background: url(images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.intro-heading {
    display: flex;
    width: 525px;
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    line-height: normal;
    text-align: right;
}
.intro-paragraph {
    display: flex;
    width: 494px;
    color:#444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: right;
}
.intro-btn {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: #F15B22;
    padding: 10px 25px;
}
.intro h1, p, input {
    margin: 10px 10%;
}
/* section failure */
.failure {
    display: flex;
    /*  flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin: 10px 10%;
}
.failure div {
    width: 50%;
    padding: 15px;
    margin: 0 5%;
}
.fail-list {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start;
    list-style-image: url(images/icons/check\ 1.svg);
}
.failure-heading {
    color: #151414);
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    display: flex;
    width: 288px;
    text-align: left;
}
.failure-paragraph {
    color: #444343);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    display: flex;
    width: 416px;
    text-align: left;
    padding: 5px 0;
    margin: 0;
}
.img-class {
    align-items: center;
    padding: 10%;
    background-image: url(images/Ellipse.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 81%;
}
/* plan section */
.plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10%;
}
.plan-heading {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 20px 0;
}
.plan-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
} 
.plan-inner-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plan-inner-div h4 {
    color:#151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
}
.plan-inner-div p {
    color: #737272;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    line-height: normal;
}
.mindset {
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mindset-img-bottom {
    width: 100%;
    padding: 5% 0;
    margin: 0;
    position: relative;
    z-index: 1;
}
.mindset-img-top {
    width: 100%;
    padding: 5% 0;
    margin: 0;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
}
.mindset-text-btn {
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: start;
}
.mindset-h4 {
    text-align: start;
    display: flex;
    width: 550px;
    flex-direction: column;
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
    line-height: normal;
    padding: 0% 5%;
}
.mindset-btn {
    color: #F15B22;
    background-color: white;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    line-height: normal;
    margin: 15px 5%;
    padding: 20px 45px;
    border: none;
    border-radius: 5px;
}
footer {
    background-color: black;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin: 0 10%;
}
.footer div {
    width: 50%;
    padding: 0%;
    margin: 8% 0;
}
.future-heading {
    color: #F8F8F8;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0;
    margin: 2% 0;
}
.future-para {
    display: flex;
    width: 485px;
    flex-direction: column;
    text-align: left;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 0%;
    margin: 0%;
}
.form-heading {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
    margin: 2% 28%;
    margin-bottom: 5%;
}
.icons {
    display: flex;
    justify-content: flex-start;
    padding: 0%;
    margin: 0%;
}
.icons-a {
    align-items: left;
    padding-right: 2%;
}
.form input {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 2% 28%;
}
.email {
    color: white;
    background: #151414;
    border-radius: 8px;
    border: 1px solid #FFF;
    width: 325px;
    height: 64px;
}
.email::placeholder {
    padding: 10px 10px;
    color: #F3F3F3;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}